extends templates/layout-home.pug

block meta
  title Home
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'blog';
  +main-nav(selected)

block content

  a.page__dog(href="#")
    svg(width="20", height="20")
      use(xlink:href="img/sprite-svg.svg#icon-fb")  

  a.page__dog(href="#")
    svg(width="20", height="20")
      use(xlink:href="img/sprite-svg.svg#icon-vk")


  br
  br
  br

  picture
    source(type="image/webp", srcset="img/thumb-book-dao-fiziki.webp 1x, img/book-dao-fiziki.webp 2x")
    img(src="img/thumb-book-dao-fiziki.jpg", alt="test", width="250")    

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
  div(data-aos="fade-in") bla bla bla
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero blanditiis at aliquid assumenda commodi odio, numquam odit velit? Amet ipsam fuga, reprehenderit officia repellendus facere minus eos quo deleniti. Maxime!
//- block append page-bottom
//-   script(src='some.js')
